<h1>All Pieces</h1>
<% @pieces.each do |piece| %>
  <h2><%= piece.name %>,
    <% if piece.movement != -1 %>
      <%= 'movement' %> <%= piece.movement %>
    <% end %>
    <% if piece.suite != ''%>
      <%= 'from' %> <%= piece.suite %>
    <% end %>
    <% if piece.catalogue_name != '' %>
      <%= piece.catalogue_name %> <%= piece.opus %>
      <% if piece.number != -1%>
        <%= 'No.' %> <%= piece.number %>
      <% end %>
    <% end %>
    by <%= piece.composer %></h2>

    <form method="get" action="/catalogue/<%= piece.id %>/edit-piece">
      <input
      type="submit"
      value="Edit Piece">
    </form>

    <form method="post" action="/catalogue/<%= piece.id %>/delete-piece">
      <input
      type="submit"
      value="Delete Piece">
    </form>

  <p>Appears in:<% piece.all_books.each do |book| %></p>
    <ul>
      <%= book.name %>
    </ul>
    <form method="get" action="/catalogue">
      <input
      type="submit"
      value="Remove from This Book">
    </form>
  <% end %>

<hr>
<% end %>
